@import "tailwindcss";

@keyframes fade {
  0%, 80% {opacity: 0;}
  100% {opacity: 1;}
}

.fade1 {
  animation: fade 3.2s ease-in;
}
.fade2 {
  animation: fade 3.4s ease-in;
}
.fade3 {
  animation: fade 3.6s ease-in;
}